.contact {
    flex-basis: 30rem;
    h2 {
        font-size: 4rem;
        padding: 2rem 0rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400 !important;
    }
}