@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0;
    }
    .slide {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 4rem;
    }
    .hero-desc {
        padding: 0;
        h2 {
            font-size: 1.6rem;
            padding: 1rem 0rem;
        }
        p {
            padding: 2rem 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
        }
        img {
            padding-top: 2rem;
        }
    }
    .explore {
        width: 60%;
        margin: auto;
    }
    .detail-slide {
        width: 100%;
        text-align: center;
    }
    .fashion-text {
        p {
            margin-bottom: 5rem;
            padding: 0;
        }
        h1 {
            margin: 2rem 0rem;
        }
    }
    .fashion-nr {
        font-size: 8rem;
    }
    .nav-bar {
        display: block;
    }
    .nav-link {
        font-size: 2rem;
        text-align: center;
    }
    .contact {
        h2 {
            font-size: 3rem;
            text-align: center;
        }
        p {
            font-size: 1.2rem;
            padding: 1rem;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1500px) {
    .hero-img {
        height: 50vh;
        img {
            height: 50vh;
            object-position: top;
        }
    }
    .fashion-text {
        h1 {
            font-size: 2rem;
            padding: 1rem 0rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}