@import "variables";
@import "navbar";
@import "slides";
@import "contact";
@import "cursor";
@import "fashion-page";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bgColor;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
    &.hide {
        overflow: hidden;
    }
}

main {
    position: absolute;
}